@page "/"
<BlazorApp1.Client.Components.Component Title="demo" src="https://code-maze.com/wp-content/uploads/2020/02/booklet-200px-width.png">
    
    <FragmentoHtml>
        <br />
        Fragment inyectado
        <p>Informacion inyectada</p>
        ------
    </FragmentoHtml>


</BlazorApp1.Client.Components.Component>